<div class="container">
<!-- FILTERS -->
<%= render 'shared/filters' %>

<!-- CELESTIALS -->

</div>
<% @celestials.each do |celestial| %>
<p><%= celestial.name %></p>
<p><%= celestial.category %></p>
<% end %>
<!-- /.container -->

