<div class="container">
  <br>

  <!-- FILTERS -->
  <%= render 'shared/filters' %>

  <!-- CELESTIALS -->
  <% @celestials.each do |celestial| %>
  <br>
  <p>€<%= celestial.price %>: <strong><%= celestial.name %></strong> (category: <%= celestial.category %>)</p>
  <% end %>
</div>
<!-- /.container -->

