<div class="container">


<%= form_tag celestials_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a celestial object"
  %>
<% end %>
  <!-- FILTERS -->
  <%= render 'shared/filters' %>

  <!-- CELESTIALS -->

  <div class="row">
    <% @celestials.each do |celestial| %>
    <div class="col-md-4" align="center">
      <%= render 'shared/card', celestial: celestial  %>
    </div>
    <% end %>
  </div>
</div>

