<div class="container">
  <!-- FILTERS -->
  <%= render 'shared/filters' %>

  <!-- CELESTIALS -->
  <div class="row">
    <% @celestials.each do |celestial| %>
    <div class="col-md-4" align="center">
      <%= render 'shared/card', celestial: celestial  %>
    </div>
    <% end %>
  </div>
</div>
