// Specific CSS for your home-page
body {
  background-color: black;
  height: 100%;
}

.banner-container {
  background-image: url('eclipse4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 70px);
  color: white;
  padding-top: 70px;
}

.banner-content {
  margin: 12em auto;
  h1 {
    margin-bottom: 15px;
  }
  h3 {
    opacity: 0.85;
  }
  a {
    margin-top: 10px;
  }
}

.explore {
  background-image: url('red-moon.jpg');
  background-size: cover;
  background-position: center;
  min-height: 350px;
}

.icon-container {
  margin-top: 40px;
}

.icon {
  height: 80px;
  margin: auto 40px;
}
