body {
  letter-spacing: .1em;
  height: 100%;
}

h1 {
  font-size: 80px;
}

h3 {
  font-size: 25px;
}

a {
  transition: all 0.3s ease;
  color: black;
  text-decoration: none;
  &:hover {
    transform: scale(1.03, 1.03);
    color: $gold;
  }
}

.gold {
  color: $gold;
}

.black {
  color: black;
}

.white {
  color: white;
}

.bold {
  font-weight: bold;
}
