<!-- filters -->
<div class="filter-container">
  <button class="filter-box" data-toggle="modal" data-target="#category">
    Category
  </button>
  <button class="filter-box" data-toggle="modal" data-target="#price">
    Price
  </button>
  <button class="filter-box" data-toggle="modal" data-target="#location">
    Location
  </button>
</div>

<!-- modal -->
<div class="modal fade" id="category" role="dialog">
  <div class="modal-dialog">

    <!-- modal content-->
    <div class="modal-content">
      <%= form_tag({}, {method: :get}) do %>
        <% Celestial::CATEGORIES.each do |category| %>
          <%= check_box_tag(category) %>
        <% end %>
        <%= submit_tag("filter", name: nil) %>
      <% end %>


    </div>

  </div>
</div>



