<div class="banner-container">
  <div class="banner-content text-center">
    <h1>Schwift shop</h1>
    <p>Let's get schwifty!</p>
    <%= link_to "Buy now", celestials_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="browse-container">
  <div class="browse-content text-center">
    <h1>Let's get schwifty!</h1>
    <p>SOME CARDS HERE</p>
  </div>
</div>
<div class="company-container">
  <div class="company-content text-center">
    <h1>Why Schwift shop?</h1>
    <ul class="list-inline">
      <li><i class="fas fa-hamsa"></i> Reliable</li>
      <li><i class="fas fa-money-check-alt"></i> Cheap</li>
      <li><i class="fas fa-heart"></i> Extraterrestrial comminucations</li>
    </ul>
  </div>
</div>
