.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
  font-size: 20px;
  color: white;
}

.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 25x;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
  color: white;
  margin-left: 10px;
  font-style: none;
}
.message-body {
  margin-left: 60px;
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
  color: white;
  font-size: 25px;
}
.message-status {
  margin-right: 40px;
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
  font-size: 15px;
}

#date {
  font-size: 15px;
  color: white;
}

.price {
  font-size: 20px;
}


