* {box-sizing: border-box}

/* Style the tab */

i {
  font-size: 20px;
}
.tab {
    float: left;
    border: 1px solid $gold;
    border-radius: 3px;
    background-color: black;
    width: 30%;
    height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: black;
    color: white;
    padding: 40px 30px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    transition: all 0.5s ease;
    background-color: black;
    transform: scale(1.03, 1.03);
    color: $gold;
    border: 1px solid $gold;
    border-radius: 3px;
}

/* Create an active/current "tab button" class */
.tab button.active {
    transition: all 0.3s ease;
    background-color: black;
    box-shadow:  0 5px 5px $gold;
}

/* Style the tab content */
.tabcontent {
    display: none;
    float: left;
    padding: 40px 12px;
    border: 1px solid $gold;
    border-radius: 3px;
    width: 70%;
    border-left: none;
    height: 500px;
    color: white;
}

i {
  font-size: 20px;
  margin: 5px;
}

.tablinks {
  border-bottom: 1px solid $gold;
  border-top: 1px solid $gold;
  border-left: 1px solid $gold;
  border-radius: 3px;
  padding: 10px;
}

.tab-container {
  margin: 40px;

}

.tab-body {
  margin: 50px;
}

.tab-card {
  margin: 15px;
}
