* {box-sizing: border-box}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid $gold;
    background-color: black;
    width: 30%;
    height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: black;
    color: white;
    padding: 40px 30px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    transition: all 0.5s ease;
    background-color: white;
    color: black;
}

/* Create an active/current "tab button" class */
.tab button.active {
    transition: all 0.3s ease;
    background-color: $gold;
    color: black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    float: left;
    padding: 40px 12px;
    border: 1px solid $gold;
    border-radius: 3px;
    width: 70%;
    border-left: none;
    height: 300px;
    color: white;
}

.fas {
  font-size: 20px;
}
